<!-- 關於模態框 -->
<div id="about-modal" class="about-modal-container">
    <div class="about-modal-content">
        <button class="modal-close" onclick="closeAboutModal()" style="position: absolute; top: 10px; right: 15px; background: none; border: none; font-size: 24px; cursor: pointer; color: #999;">&times;</button>
        <h4>Wanna Class</h4>
        <p>使用元智 Portal 帳號密碼登入，不須擔心帳號密碼會被盜用或記錄，程式碼完全公開接受開源社群的檢驗，絕對安全。</p>
        <p>左方列表功能：
            <ol>
                <li>首頁<br>
                    未來將會加入 「portal 通知列表」、「圖書館還書通知」等功能。
                </li>
                <li>課程查詢<br>
                    快速查詢每學期的課表，點擊列表可以顯示該課程資訊(學分數、上課教室、教授名稱等資訊)，列表最右方有「加入選課清單」按鈕可以加入選課任務列表中。
                </li>
                <li>選課任務列表<br>
                    以列表方式顯示目前每一門課的選課進度(「尚未選到」、「已選到！恭喜！」、「此課程已選過喔！」以及「其他未明狀態 狀態碼 x」)，若出現未明狀態可以通知作者喔！
                </li>
                <li>設定<br>
                    設定選課的階段，根據元智選課方法，需要設定目前需要選課的階段(第一、第二、第三階段)才可選課。
                </li>
            </ol>
        </p>

        <hr>

        <h4>關於作者</h4>
        <p>
            李晧暐(Hao-Wei, Li)，元智資工碩士班學生<br>
            直到大三後才開始搶到喜歡的選修課，因為不希望其他學生跟作者一樣修不到有興趣的課程，因此特地開發此軟體！<br>
            <br>
            
            <h5>聯絡方式</h5>
            Email: henryliking@gmail.com <br>
            <a href="https://github.com/MissterHao/WannaClass"> 此專案 Github </a>
        </p>
    </div>
</div>
