<!-- 關於模態框 -->
<div id="about-modal" class="about-modal-container">
    <div class="about-modal-content">
        <button class="modal-close" onclick="closeAboutModal()" style="position: absolute; top: 10px; right: 15px; background: none; border: none; font-size: 24px; cursor: pointer; color: #999;">&times;</button>
        <h4>Coursio</h4>
        <p>使用元智 Portal 帳號密碼登入</p>
        <p>左方列表功能：
            <ol>
                <li>首頁<br>
                    
                </li>
                <li>我的課表<br>
                    
                </li>
                <li>課程查詢<br>
                    
                </li>
                <li>自動選課<br>
                    
                </li>
                <li>選課任務列表<br>
                    
                </li>
                <li>設定<br>
                
                </li>
            </ol>
        </p>

        <hr>

        <h4>關於作者</h4>
        <p>
        </p>
    </div>
</div>
